<div class="product">
<%= link_to "Sort By Price - Highest to Lowest", sort_price_high_low_path %>
<%= link_to "Sort By Price - Lowest to Highest", sort_price_low_high_path %>
<%= link_to "Sort By Model - A to Z", sort_model_a_z_path %>
<%= link_to "Sort By Model - Z to A", sort_model_z_a_path %>

  <% if @all == true %>
    <h2><%= link_to product.model, product %></h2>
  <% else %>
    <h2><%= product.model %></h2>
  <% end %>

  <p><strong>Price: </strong> <%= number_to_currency product.price %></p>

  <h3>Description</h3>
  <div class="description"> <%= product.description %></div>

  <p><strong>Quantity On Hand: </strong> <%= product.stock_quantity %></p>

  <% if @all == true %>
    <p><%= image_tag product.image.medium %></p>
  <% else %>
    <p><%= image_tag product.image.large %></p>
  <% end %>
</div>
